.userMenu {
    display: flex;
    flex-direction: column;
}

.menuLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuLogo img {
    cursor: pointer;
}

.userLogo {
    background-color: white;
    border-radius: 50%;
    margin-right: 7px;
}

.userArrow.up {
    transform: rotate(180deg);
}

.dropdownSquare {
    position: absolute;
    top: 60px;
    right: 55px;
    width: 11px;
    height: 11px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}

.dropdownMenu {
    position: absolute;
    top: 65px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 134px;
    height: 60px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dropdownMenu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownMenu ul li {
    list-style-type: none;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.dropdownMenu ul li:hover {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.userDropdownMenu.active {
    opacity: 1;
    z-index: 2;
}

.userDropdownMenu.inactive {
    opacity: 0;
}

@media screen and (max-width:375px) {
    .dropdownSquare {
        right: 50px;
    }
}